* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: #403B39;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 0;
}

main {
  width: 95%;
  height: 53%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 75px;
}

main h1 {
  text-align: center;
  font-size: 1.8rem;
}

main header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header p {
  font-size: 19px;
}

header button {
  width: 8%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}

button svg {
  width: 100%;
}

main section {
  width: calc(100% - 16px);
  background-color: #706b68;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 0fr 0fr 0fr;
  justify-items: center;
  align-content: center;
  gap: 10px;
  padding: 8px 8px;
}

section div {
  width: 100%;
  display: flex;
  justify-content: center;
}

div button {
  width: 100%;
  cursor: pointer;
  opacity: 1;
  border-radius: 5px;
  border: none;
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/126/739/non_2x/question-mark-icon-free-vector.jpg");
  background-size: cover;
  background-position: center;
  background-color: black;
}

div button svg {
  border-radius: 5px;
  width: calc(85% - 10px);
  height: calc(85% - 10px);
  opacity: 0;
  padding: 5px;
}

@media (min-width: 300px) {
  main section {
    width: calc(90% - 16px);
  }
}

@media (min-width: 350px) {
  main {
    height: 55%;
  }

  header button {
    width: 7%;
  }

  header p {
    font-size: 23px;
  }
}

@media (min-width: 400px) {
  main {
    height: 60%;
  }

  main h1 {
    font-size: 2.3rem;
  }
}

@media (min-width: 500px) {
  main {
    height: 73%;
  }

  main header {
    justify-content: space-evenly;
  }

  header button {
    width: 6%;
  }

  main section {
    width: calc(80% - 16px);
    padding: 10px 8px;
  }
}

@media (min-width: 600px) {
  main {
    height: 80%;
  }

  main h1 {
    font-size: 2.3rem;
  }

  header button {
    width: 5%;
  }
}

@media (min-width: 700px) {
  main {
    height: 83%;
  }

  main h1 {
    font-size: 2.5rem;
  }

  header button {
    width: 4%;
  }

  main section {
    width: calc(75% - 16px);
  }

  section div {
    width: 88%;
  }

  div button {
    width: 100%;
  }
}

@media (min-width: 700px) {
  main {
    height: 83%;
  }

  main h1 {
    font-size: 2.5rem;
  }

  header button {
    width: 4%;
  }

  main section {
    width: calc(75% - 16px);
  }

  section div {
    width: 88%;
  }

  div button {
    width: 100%;
  }
}

@media (min-width: 800px) {
  main {
    height: 88%;
  }

  main h1 {
    font-size: 2.8rem;
  }

  main header {
    width: 90%;
  }

  header p {
    font-size: 26px;
  }

  main section {
    width: calc(70% - 16px);
  }
}

@media (min-width: 900px) {
  main section {
    width: calc(65% - 16px);
  }
}

@media (min-width: 1000px) {
  main {
    width: 85%;
    margin-top: 25px;
  }

  main section {
    width: calc(55% - 16px);
  }
}

@media (min-width: 1200px) {
  main {
    height: 50%;
    margin-top: 40px;
  }

  main header {
    width: 65%;
  }

  main section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
  }
}
 

@media (min-height: 1000px) {
  main {
    height: 65%;
  }
}

@media (min-height: 1100px) {
  main {
    height: 63%;
  }
}

@media (min-height: 1300px) {
  main {
    height: 58%;
  }
}

.select {
  background-color: #00B4E8;
  animation-duration: 0.8s;
}

.different {
  background-color: #FF0022;
  animation-duration: 0.7s;
  animation-delay: 0s;
}

.matching {
  background-color: #00BE52;
}

.spin {
  animation: rotate 0.5s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}