@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

:root {
  --display: none;
}

body {
  background-color: #403B39;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 0;
}

main {
  width: 95%;
  height: 53%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 75px;
}

main h1 {
  text-align: center;
  font-size: 1.8rem;
}

main header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header p {
  font-size: 19px;
}

header button {
  width: 8%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}

button svg {
  width: 100%;
}

main section {
  width: calc(100% - 16px);
  background-color: #706b68;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 0fr 0fr 0fr;
  justify-items: center;
  align-content: center;
  gap: 10px;
  padding: 8px 8px;
}

section div {
  width: 100%;
  display: flex;
  justify-content: center;
}

div button {
  width: 100%;
  cursor: pointer;
  opacity: 1;
  border-radius: 5px;
  border: none;
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/126/739/non_2x/question-mark-icon-free-vector.jpg");
  background-size: cover;
  background-position: center;
  background-color: black;
}

div button svg {
  border-radius: 5px;
  width: calc(85% - 10px);
  height: calc(85% - 10px);
  opacity: 0;
  padding: 5px;
}

.end-game {
  position: absolute;
  bottom: 34%;
  width: 95%;
  height: 55%;
  border-radius: 8px;
}

#win {
  background-color: #657a92f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#game-over {
  background-color: #ff0022ea;
  display: var(--display);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.show {
  --display: flex;
}

#win p {
  font-weight: 500;
  font-size: 15px;
}

ol { 
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 8px;
  background-color: white;
  border-radius: 8px;
  margin: 15px 0px;
}

li {
  color: #000;
  font-weight: 600;
}


#win button, #game-over button {
  width: 70%;
  background-image: none;
  background-color: #000;
  color: white;
  font-size: 1rem;
  padding: 8px 10px;
  margin-bottom: 50px;
}

@media (min-width: 300px) {
  main section {
    width: calc(90% - 16px);
  }
}

@media (min-width: 350px) {
  main {
    height: 55%;
  }

  header button {
    width: 7%;
  }

  header p {
    font-size: 23px;
  }  
  
  .end-game {
    bottom: 32%;
    width: 90%;
    height: 59%;
  }
}

@media (min-width: 375px) {
  #win p {
    font-size: 18px;
  }

  ol {
    gap: 10px;
    padding: 8px 13px;
    width: 80%;
  }

  li {
    font-size: 20px;
  }

  .end-game {
    bottom: 28%;
    height: 65%;
  }
}

@media (min-width: 400px) {
  main {
    height: 60%;
  }

  main h1 {
    font-size: 2.3rem;
  }

  .end-game {
    bottom: 24%;
    width: 88%;
    height: 69%;
  }

  #win p {
    font-size: 20px;
  }

  ol {
    gap: 10px;
    padding: 8px 13px;
  }

  #win button {
    font-size: 1.3rem;
  }
}

@media (min-width: 500px) {
  main {
    height: 73%;
  }

  main header {
    justify-content: space-evenly;
  }

  header button {
    width: 6%;
  }

  main section {
    width: calc(80% - 16px);
    padding: 10px 8px;
  }
  
  .end-game {
    bottom: 16%;
    height: 74%;
    width: 81%;
  }
}

@media (min-width: 600px) {
  main {
    height: 80%;
  }

  main h1 {
    font-size: 2.3rem;
  }

  header button {
    width: 5%;
  }

  .end-game {
    bottom: 7%;
    height: 83%;
  }

  #win p {
    font-size: 1.8rem;
  }

  li {
    font-size: 1.8rem;
  }

  #win button {
    font-size: 1.8rem;
  }
}

@media (min-width: 700px) {
  main {
    height: 83%;
  }

  main h1 {
    font-size: 2.5rem;
  }

  header button {
    width: 4%;
  }

  main section {
    width: calc(75% - 16px);
  }

  section div {
    width: 88%;
  }

  div button {
    width: 100%;
  }

  .end-game {
    bottom: 5%;
    height: 84%;
  }
}

@media (min-width: 800px) {
  main {
    height: 88%;
  }

  main h1 {
    font-size: 2.8rem;
  }

  main header {
    width: 90%;
  }

  header p {
    font-size: 26px;
  }

  main section {
    width: calc(70% - 16px);
  }

  .end-game {
    bottom: 1%;
    height: 87%;
  }
}

@media (min-width: 900px) {
  main section {
    width: calc(65% - 16px);
  }

  .end-game {
    bottom: 1%;
    height: 89%;
    width: 70%;
  }
}

@media (min-width: 1000px) {
  main {
    width: 85%;
    margin-top: 25px;
  }

  main section {
    width: calc(55% - 16px);
  }

  .end-game {
    bottom: 8%;
    height: 86%;
    width: 70%;
  }

  #win p {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  main {
    height: 50%;
    margin-top: 40px;
  }

  main header {
    width: 65%;
  }

  main section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
  }

  .end-game {
    bottom: 23%;
    height: 72%;
    width: 60%;
  }

  #win p {
    font-size: 1.7rem;
  }

  li {
    font-size: 1.5rem;
  }

  #win button {
    font-size: 1.5rem;
  }
}
 
@media (min-height: 800px) {
  .end-game {
    bottom: 35%;
    height: 56%;
  }
}

@media (min-height: 900px) {
  .end-game {
    bottom: 33%;
    height: 58%;
  }
}

@media (min-height: 1000px) {
  main {
    height: 65%;
  }

  .end-game {
    bottom: 27%;
    height: 64%;
  }
}

@media (min-height: 1100px) {
  main {
    height: 63%;
  }

  .end-game {
    bottom: 31%;
    height: 61%;
  }
}

@media (min-height: 1300px) {
  main {
    height: 58%;
  }

  .end-game {
    bottom: 41%;
    height: 53%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.select {
  background-color: #00B4E8;
  animation-duration: 0.8s;
}

.different {
  background-color: #FF0022;
  animation-duration: 0.7s;
  animation-delay: 0s;
}

.matching {
  background-color: #00BE52;
}

.spin {
  animation: rotate 0.5s linear;
}